body {
    background-color: rgb(238, 228, 95);
    width: 900px;
    margin: 0 auto;
    padding: 0 40px 40px 40px;
    border: 5px solid rgb(58, 163, 170);
    }
                                        
    html {
    font-size: 10px;
    
    }
                                        
    html {
    background-color: rgb(101, 44, 165);
    }
    img{
        border-radius: 90px;
        display: block;
        margin: 0 auto;
        border: 3px solid goldenrod;
        width: 300px;
    }
                                        
    
    
   
    
    
    
                                        
    