body {
    background-color: rgb(253, 225, 98);
    width: 900px;
    margin: 0 auto;
    padding: 0 40px 40px 40px;
    border: 5px solid rgb(5, 5, 1);
    }
                                        
    html {
    font-size: 20Ñ–px;
    
    }
                                        
    html {
    background-color: rgb(165, 44, 105);
    }
    img{
        border: 3px solid rgb(248, 252, 44);
        display: block;
        margin: 0 auto;
        border-radius: 100px;
        width: 400px;
        
    }
    h1{
        margin: 0;
        padding: 20px o;
        color: rgb(150, 46, 106);
        text-shadow: 9px 9px 1px rgb(67, 18, 80);
    }
    p{
        color:  rgb(126, 71, 255);
        background-color: rgba(252, 250, 122, 0.849);
    }
                                    
    
    td img{
        border: 3px solid rgb(144, 224, 51);
        width: 200px;
        background-color: goldenrod;
    }
    
            
    h2 {
    font-size: 30px;
    color: rgb(170, 94, 109);
    text-shadow: 4px 4px 1px rgb(94, 22, 52);
    }
                                        
    li {
    color: tomato;
    a {
    font-size: 30px;
    text-decoration: darkolivegreen;
    none
    }