


body {
    background-color: rgba(176, 202, 114, 0.877);
    width: 900px;
    margin: 0 auto;
    padding: 0 40px 40px 40px;
    border: 5px solid rgb(206, 191, 105);
    }
    h1{
        background-color: olive;
        
    }
    tr{
        background-color: rgb(118, 190, 45);
    }
    th{
        background-color: rgb(27, 71, 27);
    }
                                        
    html {
    font-size: 20px;
    
    }
                                        
    html {
    background-color: rgb(190, 189, 81);
    }
     
    


                                    

                                    

                                    
