* {
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
    background-color: rgb(198, 212, 184);
}
div ul{
    list-style: none;
    background-color: rgb(0, 0, 0);
    position: relative;
    color: ivory;
}
a{
    text-decoration: none;
    color: lavender;
    text-align: center;
    transition: oll 5s;
}
div > ul > li{
    float: left;
}
div ul::after{
    content: "";
    display: block;
    clear: both;
}
div ul li a{
    display: inline-block;
    padding: 10px 50px;
    width: 125px;
    text-decoration: none;
}
div ul li a:hover{
    background-color: #950740;
}
div ul ul{
    display: none;
    position: absolute;
}
div li:hover >ul{
display: block;
}
@media screen and (width: 500px) {
.box{
   background-color: black;
   width: 20%;

}
.box ul li a{
    display: inline-block;
    padding: 10px 20px;
    width: 59px;
    font-size: 10px;
    text-decoration: none   ;
}
.box > ul >li{
    float: right;
}
.box li:hover > ul{
    display: inline-block;
}
a{
    text-decoration: none;
    text-align: center;
}

}